.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel thumbnail positional styling */
.thumbs {
  display: flex;
  justify-content: center;
  border-radius: 0.75rem !important;
  margin-top: 10px;
}

.carousel-images {
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -8%;
    max-width: 100%;
  }
  .carousel-root {
    max-width: 100%;
  }

  .thumbs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 0.75rem !important;
  }

  .carousel-images {
    max-width: 90vw;
    border-radius: 1rem;
  }
}
